<header class="header">
    <div class="header__nav">
        <div class="header__nav--container">
            <a routerLink="/home" class="header__nav-home">
                <div class="header__nav-brand">
                    <img src="assets/icon.jpg" alt="Logo" class="header__nav-icon">
                    <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page"
                        class="header__nav-brand--link">
                        <span class="header__nav-name">
                            <span class="header__nav-name-text">Alans Čertkojevs</span>
                            <img src="assets/verification.png" alt="verification" class="header__nav-name-verification">
                        </span>
                    </a>
                </div>
            </a>
            <button class="header__nav-toggle" (click)="toggleDropdown()">
                <i *ngIf="!isDropdownOpen" class="fa-solid fa-bars fa-xl" style="color: #000000;"></i>
                <i *ngIf="isDropdownOpen" class="fa-solid fa-xmark fa-2xl" style="color: #000000;"></i>
            </button>
        </div>
        <ul class="header__nav-list" [class.open]="isDropdownOpen">
            <li class="header__nav-item" *ngFor="let link of navLinks">
                <a routerLink="{{ link.route }}" routerLinkActive="active" ariaCurrentWhenActive="page"
                    class="header__nav-link selectable">
                    {{ link.name }}
                </a>
            </li>
        </ul>
    </div>
</header>