.footer {
    background-color: #120421;
    margin-top: auto;
    width: 100%;
    padding: 30px 0;
    border-top: 2px solid #251e1e;
    display: flex;
    gap: 40px;
    justify-content: center;

    @media (max-width: 768px) {
        padding: 15px 0;
        gap: 20px;
    }


    &__bottom {
        &-text {
            color: white;
            font-size: 18px;
            font-family: 'Roboto Slab';

            @media (max-width: 768px) {
                font-size: 14px;
            }
        }
    }

    &__social-icons {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

a {
    text-decoration: underline;
    color: white;

    &:hover {
        text-decoration: none;
    }
}