.pagination {
    &--container {
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 10px;

        button {
            background-color: #AC87C5;
            border: none;
            color: rgb(0, 0, 0);
            padding: 5px 10px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 5px;
            background: linear-gradient(to left, #AC87C5 50%, #FFE5E5 50%) right;
            background-size: 200%;
            transition: .3s ease;

            &:hover:not(:disabled) {
                background-position: left;
            }

            &:disabled {
                background: #747171;
                cursor: not-allowed;
                background-size: initial;
                background-position: initial;
                transition: none;
            }

        }
    }

    &--text {
        color: white;
        font-family: "Roboto";
        font-weight: 300;
        font-size: 16px;
        color: white;
        line-height: 1px;
    }

}