.main {
    display: flex;
    justify-content: center;

    &__container {
        max-width: 1200px;
        width: 90%;
        display: flex;
        flex-direction: column;

        &-about {
            display: flex;
            flex-direction: column;
            padding: 70px 0;

            @media (max-width: 768px) {
                padding: 15px 0;
            }
        }

        &-pretitle {
            order: -1;
            letter-spacing: 1px;
            font-family: "Roboto";
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
            margin-top: 32px;
            margin-bottom: 0;

            &-link {
                text-decoration: none;
                color: #AC87C5;

                &:hover {
                    color: #9156c4;
                }
            }
        }

        &-title {
            display: flex;
            font-size: 84px;
            margin-top: 0px;
            margin-bottom: 0px;
            font-family: "Roboto Sans";
            color: white;

            @media (max-width: 768px) {
                font-size: 50px;
            }
        }

        &-content-text {
            font-size: 32px;
            font-family: "Roboto";
            color: white;
            line-height: 1.5;
            font-weight: 300;

            @media (max-width: 768px) {
                font-size: 22px;
            }
        }

        &-projects {
            margin-bottom: 40px;

            &-heading {
                font-size: 40px;
                font-family: "Roboto Sans";
                color: white;

                @media (max-width: 768px) {
                    font-size: 36px;
                }

            }

            &-list {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                gap: 40px;
                align-items: start;
            }

            &-item {

                position: relative;
                overflow: hidden;
                background-color: #1A1A1A;
                padding: 20px;
                border-radius: 8px;
                transition: transform 0.3s ease, box-shadow 0.3s ease;
                height: 220px;
                background-size: cover;
                background-position: center;

                &-link {
                    text-decoration: none;
                }

                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: inherit;
                    z-index: 0;
                    transition: filter 0.3s ease;


                }

                &-overlay {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    background-position: center;
                    transition: filter 0.3s ease;
                    z-index: 0;
                }

                &:hover {
                    transform: translateY(-10px);
                    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

                    .main__container-projects-item-description {
                        opacity: 1;
                        visibility: visible;
                        z-index: 1;
                    }
                }

                &-title {
                    margin: 0px;
                    font-size: 28px;
                    margin-bottom: 10px;
                    color: #FFFFFF;
                    font-family: "Roboto Sans";
                    z-index: 1;
                    position: relative;

                    @media (max-width: 768px) {
                        font-size: 22px;
                    }
                }

                &-description {
                    position: relative;
                    z-index: 1;
                    font-size: 20px;
                    color: #ffffff;
                    font-family: "Roboto";
                    opacity: 0;
                    visibility: hidden;
                    font-weight: 300;

                    @media (max-width: 768px) {
                        font-size: 16px;
                    }
                }


            }

            @media (max-width: 1105px) {
                &-list {
                    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
                }
            }

            &-footer {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                margin-top: 20px;

                &__see-all {
                    font-size: 20px;

                    &:hover .fa-arrow-right {
                        transform: translateX(10px);
                        color: #9156c4;
                    }
                }

                .fa-arrow-right {
                    transition: transform 0.3s ease;
                }

                &__see-all {
                    text-decoration: none;
                    color: #AC87C5;
                    font-family: "Roboto";
                    transition: transform 0.3s ease;
                    font-weight: bold;

                    &:hover {
                        color: #9156c4;
                    }
                }
            }
        }
    }
}